/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.sponsorships {
  padding: 50px;
}

.grey {
  background-color: #F4F3F4;
}

li {
  list-style: none;
}

.last-email {
  margin-top: 40px;
}

/*nav*/

.menu {
  display: flex;
  justify-content: space-between;
}

.menu ul {
  list-style: none;
  display: none;
}

.menu li a {
  display: block;
  padding: 10px;
  padding-top: 25px;
}

.menu img {
  width: 100px;
}

.menu .navicon {
  width: 40px;
  margin: 5px 0;
}

/*header*/
#email , .get-started, #email-box {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 5px;
} 

.get-started {
  background-color: #192592;
  border-radius: 3px;
  border-style: none;
  color: white;
}

.buttonDiscover {
  border-radius: 3px;
  border-style: none;
  color: #192592;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding:5px;
  background-color: white;
  border: 1px solid #192592;
}

/*section*/

/*sponsorships!*/

.company {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*footer*/

#slack-hash {
  width: 100px;
  margin-left: 1%;
}

.lest {
  display: flex;
  justify-content: space-around;
}

#flag {
  width: 20px;
}

.social {
  margin: 20px;
}

.footerN i {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .buttonS{
    width: 150px;
  }

  .emailC {
    display:flex;
  }

  .last-email {
    display: flex;
    justify-content: space-between;
  }

  #email, #email-box{
    width: 50%;
  }

  .menu ul {
    display: none;
  }
  .no-align {
    text-align: left;
  }

}

@media(min-width: 992px) {
  .footFinish {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

 .footerR {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 10px;

  }

  .menu .navicon {
    display: none;
  }

  .menu ul {
    display: flex;
  }

  #email , #email-box {
    display: none;
  }
}





















